@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/CSR84z9ShvucWzsMKyhdTOc.ttf) format('truetype');
}
@font-face {
  font-family: 'Lusitana';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/CSR74z9ShvucWzsMKyDmafctaNM.ttf) format('truetype');
}
